<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Application>Microsoft Excel</Application><DocSecurity>0</DocSecurity><ScaleCrop>false</ScaleCrop><HeadingPairs><vt:vector size="2" baseType="variant"><vt:variant><vt:lpstr>Worksheets</vt:lpstr></vt:variant><vt:variant><vt:i4>6</vt:i4></vt:variant></vt:vector></HeadingPairs><TitlesOfParts><vt:vector size="6" baseType="lpstr"><vt:lpstr>00_利用ガイド・凡例規約</vt:lpstr><vt:lpstr>01_構成図_概要</vt:lpstr><vt:lpstr>02_構成図_詳細</vt:lpstr><vt:lpstr>03_パーツ集_作図図形・コネクタ線</vt:lpstr><vt:lpstr>04_パーツ集_概要用</vt:lpstr><vt:lpstr>05_パーツ集_詳細用</vt:lpstr></vt:vector></TitlesOfParts><Company></Company><LinksUpToDate>false</LinksUpToDate><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>12.0000</AppVersion></Properties>